<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <img src="~/images/sample.jpeg" alt="logo"/>
    <h1>Welcome to my Book Store.</h1>
    <p>This is the home page of my application.</p>
</body>
</html>
