################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Book.Store/.vs/Book.Store
/Book.Store/Book.Store/bin/Debug/netcoreapp3.1
/Book.Store/Book.Store/obj
/Book.Store/Book.Store/wwwroot/lib
